* {
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
}

main {
  margin: 0 auto;
  max-width: 750px;
}

#canvas {
  margin: 0 0 8px;
  max-width: 500px;
  width: 100%;
}

.content-wrapper {
  display: flex;

  * {
    font-size: 14px;
  }

  .placeholder {
    border: 3px dashed #999;
    height: 333px;
    width: 500px;
  }

  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    .second-stage-inputs >  label {
      color: #666;
      display: block;
      font-size: 0.85em;
      letter-spacing: 0.5px;
      margin-bottom: 4px;
      text-transform: uppercase;
    }
  }

  .file-input-wrapper {
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 12px;
    position: relative;

    input {
      cursor: pointer;
      display: block;
      font-size: 50px;
      min-height: 100%;
      min-width: 100%;
      opacity: 0;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
    }
  }

  input {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    margin-bottom: 8px;
    max-width: 100px;
    padding: 4px 12px;
  }

  input[type="number"] {
    padding: 4px 2px 4px 12px;
  }

  .second-stage-inputs {
    opacity: 0;
    position: absolute;
    left: 750px;
    transition: all .65s cubic-bezier(.645,.045,.355,1);

    &.show {
      opacity: 1;
      left: 0;
    }
  }
}

.color-picker-wrapper {
  align-items: center;
  display: flex;
}

.swatch-wrapper {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  cursor: pointer;
  display: inline-block;
  margin-right: 4px;
  padding: 5px;

  .swatch {
    border-radius: 2px;
    height: 14px;
    width: 36px;
  }
}

.popup {
  position: absolute;
  z-index: 2;

  .popup-cover {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}

.btn {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  transition: all .2s cubic-bezier(.645,.045,.355,1);

  &:hover {
    border-color: #4aada3;
    color: #4aada3;
  }
}

.btn-download {
  background-color: #4fbbb0;
  border: 1px solid transparent;
  color: #fff;
  margin-top: 16px;
  width: 150px;

  &:hover {
    background-color: #4aada3;
    color: #fff;
  }
}